.navbar {
    width: 100vw;
    box-sizing: border-box;
    padding: 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px #000;
    z-index: 2;
    background: #0a84ff;
}

.navbar-brand {
    font-size: 1.6em;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
    display: flex;
    justify-content: center;
    word-wrap: none;
}

.navbar-brand:hover .navbar-logo {
    transform: rotate(360deg);
}

.navbar-logo {
    transition: transform 1s;
    margin-right: 12px;
}

.navbar-ul {
    width: fit-content;
    list-style: none;
    display: flex;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
}

.navbar-icon {
    width: 32px;
    padding: 4px 16px;
}

.navbar-icon:hover, .navbar-brand:hover {
    opacity: 0.8;
}